<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
  <title>eSolver {{ title or 'eCaptcha solver' }}</title>

  <meta name="title" content="eSolver - {{ title or "eCaptcha solver" }}"/>
  <meta name="description" content="{{ description or 'eCaptcha solver by keriks' }}"/>
  <meta name="author" content="keriks"/>

  <meta property="og:title" content="eSolver - {{ title or "eCaptcha solver" }}"/>
  <meta property="og:description" content="{{ description or 'eCaptcha solver by keriks' }}"/>
  <meta property="og:image" content="//www.erepublik.net/images/modules/homepage/logo.png"/>

  <meta name="format-detection" content="telephone=no">
  <meta name="referrer" content="never">
  <meta name="referrer" content="no-referrer">

  <link rel="shortcut icon" href="https://www.erepublik.net/images/favicon.ico"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/project.min.css') }}?v={{ startts }}">

  {% block extra_css %}
  {% endblock extra_css %}

</head>
<body class="d-flex flex-column h-100" id="id_view_{% block view_id %}captcha{% endblock view_id %}">
<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
  <div class='container-fluid container-xl'>
    <span class="navbar-brand mb-0 h1">eSolver</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('captcha_html') }}">Captcha</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid container-xl">
  <div class="row">
    <div class="col-12">
      {% for message in get_flashed_messages(True) %}
        <div class="alert alert-{{ message[0] }}" role="alert">{{ message[1] }}</div>
      {% endfor %}
    </div>

    {% block content %}
    {% endblock content %}
  </div>
</div>
<footer class="footer mt-auto py-3">
  <div class="container">
    <p class="text-center text-muted">&copy; {{ now.year }} keriks</p>
  </div>
</footer>

<!-- Modals -->
{% block modal %}
    <div class="modal fade" id="id_captcha_result_modal" tabindex="-1" role="dialog"
         aria-labelledby="id_captcha_result_modal_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="id_captcha_result_modal_label">Captcha result</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img src="" alt="Captcha result preview" id="id_captcha_result_modal_image"
                         class="img-thumbnail img-fluid"/>
                    <div class="btn-group">
                        <a href="#" target="_blank" class="btn btn-outline-primary"
                           id="id_captcha_result_modal_link_original">Original image <i class="fa fa-external-link"
                                                                                        aria-hidden="true"></i></a>
                        <a href="#" target="_blank" class="btn btn-outline-info"
                           id="id_captcha_result_modal_link_result">Result image <i class="fa fa-external-link"
                                                                                    aria-hidden="true"></i></a>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock modal %}

<div class="position-fixed top-0 end-0 p-3" style="z-index: 5" id="id_toast_container">
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js" integrity="sha384-Qg00WFl9r0Xr6rUqNLv1ffTSSKEFFCDCKVyHZ+sVt8KuvG99nWw5RNvbhuKgif9z" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/f4ebf13d6b.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/project.min.js') }}?v={{ startts }}"></script>

{% block extra_js %}
{% endblock extra_js %}
</body>
</html>
