<div class=" col-12 col-sm-6 col-lg-4 pb-5">
    <div class="card{% if result.reported %} border-danger{% endif %}" id="id_card_{{ result.uuid }}">
        <div class="card-header{% if result.reported %} text-white bg-danger font-weight-bold{% endif %}">
            {{ result.id }} - {{ result.created }}
            <span class="float-right badge badge-{% if result.calc_time < 700 %}success{% elif result.calc_time < 800 %}secondary{% elif result.calc_time < 1400 %}warning{% else %}danger{% endif %}">{{ result.calc_time/1000 }}s</span>
        </div>
        <a class="cls_open_result_modal" data-result="{{ result.result_file }}" data-original="{{ result.file }}">
            <img src="{{ result.preview or result.result_file or result.file }}" title="{{ result.uuid }}" alt="{{ result.uuid }}"
                 class="result_img_location card-img-top">
        </a>
        <div class="card-body">
            <div class="text-center">
                <div class="btn-group btn-group-sm">
                    <button type=button class="btn btn-outline-dark" data-toggle="collapse"
                            data-target="#id_result_{{ result.uuid }}">Show/hide results
                    </button>
                    {% if not result.reported %}
                        <button type=button data-action="report" data-value="{{ result.uuid }}"
                                class="btn btn-outline-danger btn_report">Report
                        </button>
                    {% else %}
                        <button type=button data-action="corrected" data-value="{{ result.uuid }}"
                                class="btn btn-outline-success btn_corrected">Correct
                        </button>
                        <button type=button data-action="resolve" data-value="{{ result.uuid }}"
                                class="btn btn-outline-info btn_resolve">Try again
                        </button>
                    {% endif %}
                </div>
            </div>
            <br/>
            <div class="collapse" id="id_result_{{ result.uuid }}">
                <p><b>Result:</b> <code>{{ result.result }}</code></p>
                <p><b>Icons recognized:</b>
                    '<a href="?{{ request.query_string|query_set('filter', result.icon0) }}">{{ result.icon0 }}</a>',
                    '<a href="?{{ request.query_string|query_set('filter', result.icon1) }}">{{ result.icon1 }}</a>',
                    '<a href="?{{ request.query_string|query_set('filter', result.icon2) }}">{{ result.icon2 }}</a>'
                    {%- if result.icon3 -%}
                        , '<a href="?{{ request.query_string|query_set('filter', result.icon3) }}">{{ result.icon3 }}</a>'
                    {%- endif %}
                    {%- if result.icon4 -%}
                        , '<a href="?{{ request.query_string|query_set('filter', result.icon4) }}">{{ result.icon4 }}</a>'
                    {%- endif %}
                    {%- if result.icon5 -%}
                        , '<a href="?{{ request.query_string|query_set('filter', result.icon5) }}">{{ result.icon5 }}</a>'
                    {%- endif -%}
                </p>
            </div>
        </div>
    </div>
</div>
