{% extends 'base.html' %}

{% block content %}
    <div class="col-12">
        <h5>Please upload only raw PNG captchas, not screenshots! Right mouse click on captcha and "Save as..."</h5>
        <div class="img-container">
            <img src="https://cdn.discordapp.com/attachments/346160443909210132/803593266892898354/unknown.png"
                 alt="help" CLASS="img-thumbnail">
        </div>
        <form enctype="multipart/form-data" method="POST">
            <label for="img_upload">Select PNG image:</label>
            <input type="file" id="img_upload" accept="image/*" name="file" required="required" class="form-control-file" multiple="multiple">
            <br>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>
    {%- if results -%}
        <div class="col-12">
            <hr>
            <h4>Results:</h4>
        </div>
        <div class="col-12">
            <div class="row" id="id_captcha_result_container">
                {%- for result in results -%}{% include 'card.html' %}{%- endfor -%}
            </div>
        </div>
        {%- if pagination -%}
            <div class="col-12">
                <div class="text-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item{% if not pagination.has_prev %} disabled{% endif %}">
                                <a class="page-link" href="{% if pagination.has_prev %}?{{ request.query_string|query_set('page', 1) }}{% else %}#{% endif %}" tabindex="-1" aria-disabled="{{ not pagination.has_prev }}">First</a>
                            </li>
                            <li class="page-item{% if not pagination.has_prev %} disabled{% endif %}">
                                <a class="page-link" href="{% if pagination.has_prev %}?{{ request.query_string|query_set('page', pagination.page - 1) }}{% else %}#{% endif %}" tabindex="-1" aria-disabled="{{ not pagination.has_prev }}">Previous</a>
                            </li>
                            <li class="page-item{% if not pagination.has_next %} disabled{% endif %}">
                                <a class="page-link" href="{% if pagination.has_next %}?{{ request.query_string|query_set('page', pagination.page + 1) }}{% else %}#{% endif %}" tabindex="-1" aria-disabled="{{ not pagination.has_next }}">Next</a>
                            </li>
                            <li class="page-item{% if not pagination.has_next %} disabled{% endif %}">
                                <a class="page-link" href="{% if pagination.has_next %}?{{ request.query_string|query_set('page', pagination.pages) }}{% else %}#{% endif %}" tabindex="-1" aria-disabled="{{ not pagination.has_next }}">Last</a>
                            </li>
                        </ul>
                    </nav>
                    <span>
                        Page {{ pagination.page }} from {{ pagination.pages }} ({{ pagination.total }} records)
                    </span>
                </div>
            </div>
        {%- endif -%}
    {%- endif -%}
{% endblock content %}
