{% extends 'base.html' %}
{% set title='Solved captcha result recheck' %}
{% set description='Solved captcha result recheck' %}
{% block view_id %}captcha_recheck{% endblock view_id %}
{% block content %}
    <div class="col-12">
    </div>
    <div class="col-12">
        <form method="post">
            <div class="row">
                {% for result in results %}
                    {% include 'card.html' %}
                {% endfor %}
            </div>
        </form>
    </div>
    <div class="col-12">
        <div class="text-center">
            <a href="{{ url_for('captcha_recheck') }}{% if request.args.get('filter') %}?filter={{ request.args.get('filter') }}{% endif %}" class="btn btn-outline-success btn-lg">Next</a>
        </div>
    </div>
{% endblock content %}
