{% extends 'base.html' %}

{% set title='Solved captcha statistics' %}
{% set description='Captcha solver - ' + stats.total|string +' captchas solved (' + (stats.total - stats.incorrect)|percent_for(stats.total) + ' correct)'%}

{% block content %}
    <div class="col-12">
        <h3>{{ stats.total }} captchas submitted<br/>
            <small><span class="text-danger">{{ stats.incorrect }}</span> of them marked as incorrect</small></h3>
        <h4>Icons matched:</h4>
        <div class="row">
            {% for icon_row in stats.icons %}
                <div class="col-12 col-sm-6 col-lg-4">
                {% with icon_path="sprites/"+icon_row.icon+"__tmplt.png" %}
                <div class="media">
                    <img class="mr-3" src="{{ url_for('static', filename=icon_path) }}" alt="{{ icon_row.icon.replace('_', ' ').title() }}">
                    <div class="media-body">
                        <h5 class="mt-0"><a target="_blank" href="{{ url_for('captcha_html') }}?filter={{ icon_row.icon }}">{{ icon_row.icon.replace('_', ' ').title() }}</a> - {{ icon_row.cnt }}</h5>
                    </div>
                </div>
                {% endwith %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
